/scratchpad.py
/.ipynb_checkpoints/
/.ipynb_checkpoints/Numpy-checkpoint.ipynb
/.ipynb_checkpoints/numpy_2_initializing-checkpoint.ipynb
/.ipynb_checkpoints/README-checkpoint.md
/.ipynb_checkpoints/scratchpad-checkpoint.py
/.venv/
